<!DOCTYPE html>
<html>
<head>
  <title>Scraper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/style.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 id="jumbo-header">Mongo Scraper</h1>
      <button id="scrape">Scrape Articles!</button>
    </div>
  </div>
  <div class="container">
    {{{ body }}}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
</body>
</html>